body {
  margin: 0;
  font-style: arial, helvetica, sans-serif;
  padding-bottom: 600px;
}


h1,
ul,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  flex-wrap: wrap;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  padding: 16px 0;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 400;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  background: #fff;
  height: 2px;
  width: 0%;
  position: absolute;
  margin-top: 4px;
}

.header-menu a:hover:after {
  width: 100%;
  transition: 0.5s;
}

@media (max-width:800px) {
  .header-menu {
    gap: 20px;
  }

  .header-menu a {
    background: rgb(32, 30, 30);
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header-menu a:hover {
    background-color: #2e2e2e;
  }

  .header a:after {
    display: none;
  }
}

@media (max-width:600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}

.header-bg {
  background: #000;
}

.introducao-bg {
  background: #000;
  color: #fff;
  box-shadow: inset 0 -120px #fff;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao h1 {
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 1.125;
  font-family: 'Poppins';
  font-weight: 600;
}

.introducao p {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
  color: #b2b2b2;
  font-family: 'Roboto';
  font-weight: 400;
}

.introducao h1 span {
  color: #fb0;
}

.introducao a {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  color: #320;
  font-size: 18px;
  line-height: 1.33;
  font-family: 'Poppins';
  font-weight: 600;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
  text-transform: uppercase;
}

.introducao a:hover {
  background: linear-gradient(#ffbf6d, #e59317);
}

@media (max-width:600px) {
  .introducao a {
    padding: 12px 16px;
    font-size: 16px;
  }
}

.introducao img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

@media (max-width:1200px) {
  .introducao h1 {
    font-size: 48px;
  }

  .introducao p {
    font-size: 18px;
  }
}

@media (max-width:800px) {
  .introducao-bg {
    background: #111;
    padding-top: 40px;
    box-shadow: inset 0 -60px #fff;
  }

  .introducao {
    grid-template-columns: 1fr;
    gap: 32px
  }

  .introducao-conteudo {
    padding-bottom: 0;
  }

  .introducao h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .introducao p {
    font-size: 16px;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }
}