.bicicleta {
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
}

#bicicleta .titulo p {
  text-transform: uppercase;
}

.bicicleta-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.bicicleta-img img:first-child {
  grid-column: 1/-1;
}

.bicicleta-conteudo p {
  margin-bottom: 32px;
}

.bicicleta-comprar {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 8px 12px;
  margin-bottom: 30px;
}

.bicicleta-comprar a {
  grid-row: span 2;
}

.bicicleta-comprar span {
  display: flex;
  align-items: center;
  background: var(--cor-12);
  border-radius: 4px;
  padding: 2px 4px;
}

.bicicleta-comprar span+span {
  margin-top: 8px;
}

.bicicleta-comprar span img {
  width: 16px;
  margin-right: 8px;
}

.bicicleta-conteudo h2 {
  text-transform: uppercase;
  margin-bottom: 12px;
  letter-spacing: 0.015em;
}

.bicicleta-info img {
  max-width: 24px;
  margin-bottom: 8px;
}

.bicicleta-info h3 {
  margin-bottom: 8px;
}

.bicicleta-info,
.bicicleta-ficha {
  padding: 32px;
  background: var(--cor-12);
  border-radius: 4px;
}

.bicicleta-info {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
}

.bicicleta-ficha li {
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--cor-10);
}

.bicicleta-ficha li:last-child {
  border-bottom: none;
}

.bicicleta-ficha span {
  color: var(--cor-6);
}

@media (max-width: 800px) {
  .bicicleta {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .bicicleta-img {
    grid-row: 2;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .bicicleta-info {
    grid-template-columns: 1fr;
  }

  .bicicleta-comprar {
    grid-template-columns: 1fr;
  }
}